.footer {
  min-height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column {
 
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  
}

.footer__column-heading {
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 0 auto;
  padding-bottom: 16px;
  padding-left: 0px;
  list-style: none;  
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns_content_social {

}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}